rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /checkins/{checkInId} {
      allow read, write: if true;
    }
    match /messages/{messageId} {
      allow read, write: if true;
    }
    match /groups/{groupId} {
      allow read, write: if true;
    }
    match /follows/{followId} {
      allow read, write: if true;
    }
    match /nudges/{nudgeId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
